[Paths]
input = /mnt/ceph/proj/FDR4VGT/input/probav
#output = /data/smaccl/output/toc.nc
output = /mnt/ceph/proj/FDR4VGT/output/PROBAV_L1C_20141111_184634_2_1KM_V301_toc_test.nc
merraaero = /archive2/data/MERRA2/aer_extinction/2014/MERRA2_400.tavg1_2d_aer_Nx.20141111.nc4
merraptwo = /archive2/data/MERRA2/surf_pression_water_vapor/2014/MERRA2_400.tavg1_2d_slv_Nx.20141111.nc4
amip_path = /mnt/ceph/data/MERRA2/
smaccoef_dir =  /archive/proj/C3S
#smaccoef_version = 3.0
dem = /archive2/data/DEM/GLOBE/GTOPO30_DZ_MLUT.nc
kept_data_path = /data/smaccl/kept_data/
faer = ./ANCILLARY/Aerosol_model_fraction.txt
#brdf = /home/did/RTC/smaccl/input/c3s_brdf_20041130000000_X00Y04_AVHRR_NOAA17_V1.0.1.nc
#brdf

[Sensor]
sensor = PROBA-V
smaccoef_version = 3.0

[Coefficients]
k_uh2o = 1e-1
k_uo3 = 1e-3
k_p0 = 1e-2
Etoa = 0
ERtoa = 0.01
Etaup = 0.05
ERtaup = 0.15
Euo3 = 0.0
ERuo3 = 0.06
Euh2o = 0.0
ERuh2o = 0.2
Epre = 1.0
ERpre = 0.0
taot = 0.5
#aero_nmod = 22      
tocmin = 0.0        
tocmax = 1.0235      
aotmax = 0.6        
szamax = 80.        

[Sizes]
imsize = -1
nbchunk = 100
nmodels = 10

[Output]
jacobian = True
debug = True